/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

* {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

header {
  height: 8%;
  width: 100%;
  background-color: #46424D;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  background-color: #2B2733;
}

aside {
  margin: 0px;
  width: 33%;
  height: 100%;
  align-self: flex-end;
  border-left: #46424D 3px solid;
}

aside > h3 {
  margin-left: 5%;
}

.activity-container {
  width: 66%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 2%;
  /* align-items: center; */
}

.new-activity {
  background-color: #2B2733;
  /* border: 5px solid blue; */
  height: 85%;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.other-new-activity {
  background-color: #46424D;
  /* border: 5px solid blue; */
  height: 85%;
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0em 2em 0em 6em;
  border-radius: 1%;
  box-shadow: 5px 5px #26222D;
  font-size: 110%;
}

h4 {
  /* margin-left: 14%; */
}

.category-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 5px solid orange; */
}
.category-buttons > button {
  border: #FFFFFF 3px solid;
  border-radius: 4px;
  background-color: #46424D;
  width: 120px;
  height: 60px;
}

.category-buttons > button > img {
  width: 62%;
  height: 62%;
}

.time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: purple solid 5px; */
}

.accomplish{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 5px pink solid; */
  /* padding-left: 70px; */
}

input{
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  width: 100%;
  padding-top: 7%;
}
